<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="~/css/customer-site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://www.webdev.servicenow.com/nas/csi/header/v2/headerV2CSR.bundle.js"
            defer></script>
    <link rel="preload"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'"
          href="https://www.webdev.servicenow.com/nas/csi/header/v2/headerV2CSR.bundle.css" />

    <script src="https://www.webdev.servicenow.com/nas/csi/footer/v1/footerCSR.bundle.js"
            defer></script>
    <link rel="preload"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'"
          href="https://www.webdev.servicenow.com/nas/csi/footer/v1/footerCSR.bundle.css" />

    <link rel="preload"
          as="style"
          href="https://www.webdev.servicenow.com/etc.clientlibs/ds/clientlibs/clientlib-arc-commons.min.805df089b2b55ad2e2b2d635e8abf0f1.css"
          type="text/css" />
    <script defer
            src="https://www.webdev.servicenow.com/etc.clientlibs/ds/clientlibs/clientlib-arc-generic.min.d21bbd7295390c221058f736816387a9.js"></script>

    <link rel="stylesheet"
          href="https://www.webdev.servicenow.com/etc.clientlibs/now-aem-www/clientlibs/clientlib-arc-commons.min.css"
          defer
          type="text/css" />
    <script src="https://www.webdev.servicenow.com/resource_files/global-nav/components/wc-account-menu/wc-account-menu.min.js"
            defer></script>
    <link href="~/lib/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/customer-custom.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap/customer-offcanvas.css" rel="stylesheet" />


</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark cm-top-nav-bar nav-border">
        <a class="navbar-brand mr-auto mr-lg-0" href="@Url.Action("Index", "Home")">
            <section id="naas-header-v2"
                     class="cmp-nav__wrapper"
                     data-version="v2"
                     data-sourceId="www"
                     data-domain="https://www.webdev.servicenow.com"
                     data-myaccount="hide">
            </section>
        </a>

    </nav>


    <div class="nav-scroller bg-white shadow-sm cm-menu-bar menu-height" style="display: flex;">
        <nav class="container pb-3 nav nav-underline top-mg">


            @if (this.User.Identity.IsAuthenticated)
            {
                <a class="nav-link text-nav" asp-area="" asp-controller="Home" asp-action="Index" id="home">Home</a>
                <a class="nav-link text-nav" asp-area="" asp-controller="Home" asp-action="Subscriptions" id="subscription">Subscriptions</a>
                @if (TempData["ShowWelcomeScreen"] != null && Convert.ToString(TempData["ShowWelcomeScreen"]) == "True")
                {
                    /* <a class="nav-link text-nav" asp-area="" asp-controller="Home" asp-action="Subscriptions">Subscriptions</a> */
                }
            }
            <div class="navbar-nav mr-auto"></div>
            @if (this.User.Identity.IsAuthenticated)
            {
                <span class="cm-username text-black">@User.Identity.Name&nbsp;</span>
                <a class="text-black cm-logout" style="text-decoration: none;" asp-controller="Account" asp-action="SignOut">
                    &nbsp;<i class="fa fa-sign-out fa-2x"></i>
                </a>
            }
            else
            {
                <a class="text-black" style="text-decoration: none;" asp-controller="Account" asp-action="SignIn">Sign in</a>
            }
        </nav>
    </div>
    <div class="container pb-3">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="container pb-3 help-mg">
        <main>
            <div class="p-3 card help-card">Users should reach out to their account executive if help is needed.</div>
        </main>

    </div>
    <div class="scroll-page"></div>
    <!--<footer class="cm-footer">-->
    @*<div class="scroll-page">*@
    @*<div class="content">*@
    <!--<section id="naas-footer"
             class="naas-footer-section withPaddings"
             data-version="v1"
             data-sourceid="sleek"></section>-->
    @*</div>*@
    @*<div class="container pb-3 text-right text-footer">
            &copy; 2024 ServiceNow. All rights reserved.
        </div>*@
    @*</div>*@
    <!--</footer>-->
    <section class="cm-footer">
        <section id="naas-footer"
                 class="naas-footer-section withPaddings"
                 data-version="v1"
                 data-sourceid="community"></section>
    </section>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    @* <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script> *@
    <script src="~/lib/bootstrap/offcanvas.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
